<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1467.hex</string>
		<key>Name</key>
		<string>20702 standalone</string>
		<key>ProductID</key>
		<integer>6091</integer>
		<key>VendorID</key>
		<integer>2821</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1482.hex</string>
		<key>Name</key>
		<string>20702 standalone</string>
		<key>ProductID</key>
		<integer>1626</integer>
		<key>VendorID</key>
		<integer>1293</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1460.hex</string>
		<key>Name</key>
		<string>20702A1 REF6 OTP module standalone</string>
		<key>ProductID</key>
		<integer>8684</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1477.hex</string>
		<key>Name</key>
		<string>20702A1 Azurewave standalone</string>
		<key>ProductID</key>
		<integer>13188</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1447.hex</string>
		<key>Name</key>
		<string>Dell DW380 Nancy Blakes standalone</string>
		<key>ProductID</key>
		<integer>33175</integer>
		<key>VendorID</key>
		<integer>16700</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1483.hex</string>
		<key>Name</key>
		<string>20702A1 Asus Trust standalone</string>
		<key>ProductID</key>
		<integer>419</integer>
		<key>VendorID</key>
		<integer>5215</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1488.hex</string>
		<key>Name</key>
		<string>20702A1 Lenovo China standalone</string>
		<key>ProductID</key>
		<integer>8195</integer>
		<key>VendorID</key>
		<integer>1226</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1484.hex</string>
		<key>Name</key>
		<string>20702A1 Lenovo China standalone</string>
		<key>ProductID</key>
		<integer>57410</integer>
		<key>VendorID</key>
		<integer>1161</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM43142A0_001.001.011.0311.0312.hex</string>
		<key>Name</key>
		<string>LenovoChina 43142A0 combo</string>
		<key>ProductID</key>
		<integer>57445</integer>
		<key>VendorID</key>
		<integer>4187</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM43142A0_001.001.011.0311.0316.hex</string>
		<key>Name</key>
		<string>ASUS Chicony BCM43142A0 NGFF</string>
		<key>ProductID</key>
		<integer>46241</integer>
		<key>VendorID</key>
		<integer>1266</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM43142A0_001.001.011.0311.0327.hex</string>
		<key>Name</key>
		<string>LiteOn 43142 combo</string>
		<key>ProductID</key>
		<integer>8198</integer>
		<key>VendorID</key>
		<integer>1226</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM43142A0_001.001.011.0311.0328.hex</string>
		<key>Name</key>
		<string>HP Harrier 43142</string>
		<key>ProductID</key>
		<integer>8556</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM43142A0_001.001.011.0311.0329.hex</string>
		<key>Name</key>
		<string>HP Hornet 43142Y ngff combo</string>
		<key>ProductID</key>
		<integer>8557</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM43142A0_001.001.011.0311.0339.hex</string>
		<key>Name</key>
		<string>Acer BCM943142Y NGFF</string>
		<key>ProductID</key>
		<integer>8210</integer>
		<key>VendorID</key>
		<integer>1226</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM43142A0_001.001.011.0311.0340.hex</string>
		<key>Name</key>
		<string>BCM43142A0</string>
		<key>ProductID</key>
		<integer>57494</integer>
		<key>VendorID</key>
		<integer>1161</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM43142A0_001.001.011.0311.0336.hex</string>
		<key>Name</key>
		<string>Dell DW1708 43142Y combo</string>
		<key>ProductID</key>
		<integer>8554</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM43142A0_001.001.011.0311.0334.hex</string>
		<key>Name</key>
		<string>Toshiba 43142 combo NGFF</string>
		<key>ProductID</key>
		<integer>549</integer>
		<key>VendorID</key>
		<integer>2352</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM43142A0_001.001.011.0311.0334.hex</string>
		<key>Name</key>
		<string>Toshiba 43142 combo NGFF</string>
		<key>ProductID</key>
		<integer>550</integer>
		<key>VendorID</key>
		<integer>2352</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM43142A0_001.001.011.0311.0334.hex</string>
		<key>Name</key>
		<string>Toshiba 43142 combo NGFF</string>
		<key>ProductID</key>
		<integer>13351</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM43142A0_001.001.011.0311.0335.hex</string>
		<key>Name</key>
		<string>Toshiba 43142</string>
		<key>ProductID</key>
		<integer>543</integer>
		<key>VendorID</key>
		<integer>2352</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM43142A0_001.001.011.0311.0341.hex</string>
		<key>Name</key>
		<string>BRCM Generic 43142A0 RAMUSB</string>
		<key>ProductID</key>
		<integer>8663</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM43142A0_001.001.011.0311.0330.hex</string>
		<key>Name</key>
		<string>LiteOn 43142 combo</string>
		<key>ProductID</key>
		<integer>8201</integer>
		<key>VendorID</key>
		<integer>1226</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM43142A0_001.001.011.0311.0331.hex</string>
		<key>Name</key>
		<string>43142A0 Acer combo</string>
		<key>ProductID</key>
		<integer>57429</integer>
		<key>VendorID</key>
		<integer>1161</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM43142A0_001.001.011.0311.0332.hex</string>
		<key>Name</key>
		<string>BRCM Generic 43142A0 RAMUSB</string>
		<key>ProductID</key>
		<integer>13192</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM43142A0_001.001.011.0311.0333.hex</string>
		<key>Name</key>
		<string>BRCM Generic 43142A0 RAMUSB</string>
		<key>ProductID</key>
		<integer>13193</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM43142A0_001.001.011.0311.0346.hex</string>
		<key>Name</key>
		<string>AZUREWAVE BCM43142A0 NGFF</string>
		<key>ProductID</key>
		<integer>13442</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM43142A0_001.001.011.0311.0347.hex</string>
		<key>Name</key>
		<string>Acer AZUREWAVE BCM43142A0 NGFF</string>
		<key>ProductID</key>
		<integer>13444</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4356A2_001.003.015.0046.0132.hex</string>
		<key>Name</key>
		<string>Asus AZUREWAVE MB BCM4356A2</string>
		<key>ProductID</key>
		<integer>6173</integer>
		<key>VendorID</key>
		<integer>2821</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4356A2_001.003.015.0046.0120.hex</string>
		<key>Name</key>
		<string>Asus LiteOn BCM4356A2 NGFF</string>
		<key>ProductID</key>
		<integer>8212</integer>
		<key>VendorID</key>
		<integer>1226</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4356A2_001.003.015.0046.0104.hex</string>
		<key>Name</key>
		<string>Acer Foxconn BCM4356A2 NGFF</string>
		<key>ProductID</key>
		<integer>57495</integer>
		<key>VendorID</key>
		<integer>1161</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4356A2_001.003.015.0046.0125.hex</string>
		<key>Name</key>
		<string>Asus AZUREWAVE BCM4356A2 NGFF</string>
		<key>ProductID</key>
		<integer>13427</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4356A2_001.003.015.0046.0197.hex</string>
		<key>Name</key>
		<string>Asus AZUREWAVE BCM4356A2 NB 2217NF</string>
		<key>ProductID</key>
		<integer>13445</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4356A2_001.003.015.0046.0195.hex</string>
		<key>Name</key>
		<string>Asus AZUREWAVE BCM4356A2 NGFF</string>
		<key>ProductID</key>
		<integer>13458</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4356A2_001.003.015.0046.0127.hex</string>
		<key>Name</key>
		<string>Asus AZUREWAVE BCM4356A2 NB 2210</string>
		<key>ProductID</key>
		<integer>13448</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4356A2_001.003.015.0046.0122.hex</string>
		<key>Name</key>
		<string>Acer LiteOn BCM4356A2 NGFF</string>
		<key>ProductID</key>
		<integer>8211</integer>
		<key>VendorID</key>
		<integer>1226</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4356A2_001.003.015.0046.0183.hex</string>
		<key>Name</key>
		<string>BCM4356A2</string>
		<key>ProductID</key>
		<integer>46242</integer>
		<key>VendorID</key>
		<integer>1266</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4356A2_001.003.015.0080.0225.hex</string>
		<key>Name</key>
		<string>BRCM Generic Reference 4356</string>
		<key>ProductID</key>
		<integer>25610</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4356A2_001.003.015.0082.0255.hex</string>
		<key>Name</key>
		<string>Lenovo 4356 NGFF combo</string>
		<key>ProductID</key>
		<integer>25614</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4356A2_001.003.015.0082.0258.hex</string>
		<key>Name</key>
		<string>Emdoor AP6356SD BCM4356A2</string>
		<key>ProductID</key>
		<integer>22016</integer>
		<key>VendorID</key>
		<integer>11092</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4356A2_001.003.015.0082.0259.hex</string>
		<key>Name</key>
		<string>Asus AP6356SDP1A BCM4356A2</string>
		<key>ProductID</key>
		<integer>22017</integer>
		<key>VendorID</key>
		<integer>11092</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4356A2_001.003.015.0082.0257.hex</string>
		<key>Name</key>
		<string>AMPAK AP6356SDP2A BCM4356A2</string>
		<key>ProductID</key>
		<integer>22018</integer>
		<key>VendorID</key>
		<integer>11092</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1502.1767.hex</string>
		<key>Name</key>
		<string>20702A1 non-UHE 4313 combo HP Valentine</string>
		<key>ProductID</key>
		<integer>8675</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1502.1760.hex</string>
		<key>Name</key>
		<string>Lenovo Edge 4313 + 20702A1 combo</string>
		<key>ProductID</key>
		<integer>8692</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1502.1765.hex</string>
		<key>Name</key>
		<string>43228 combo</string>
		<key>ProductID</key>
		<integer>8689</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1502.1762.hex</string>
		<key>Name</key>
		<string>20702A1 Toshiba 4352</string>
		<key>ProductID</key>
		<integer>545</integer>
		<key>VendorID</key>
		<integer>2352</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1502.1763.hex</string>
		<key>Name</key>
		<string>20702A1 Toshiba 4352</string>
		<key>ProductID</key>
		<integer>547</integer>
		<key>VendorID</key>
		<integer>2352</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1502.1766.hex</string>
		<key>Name</key>
		<string>HP Supra 4352 20702A1 combo</string>
		<key>ProductID</key>
		<integer>8699</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1502.1768.hex</string>
		<key>Name</key>
		<string>HP Rapture 4352z ngff combo</string>
		<key>ProductID</key>
		<integer>8555</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1502.1769.hex</string>
		<key>Name</key>
		<string>HP Luffy 43228 + 20702 M.2</string>
		<key>ProductID</key>
		<integer>25611</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1502.1761.hex</string>
		<key>Name</key>
		<string>Lenovo Edge 43228 + 20702A1 combo</string>
		<key>ProductID</key>
		<integer>8691</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1502.1780.hex</string>
		<key>Name</key>
		<string>Zebra 4352</string>
		<key>ProductID</key>
		<integer>25623</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1502.1786.hex</string>
		<key>Name</key>
		<string>AW CE160H BCM20702</string>
		<key>ProductID</key>
		<integer>13591</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1469.hex</string>
		<key>Name</key>
		<string>Asus 4352_20702A1 combo</string>
		<key>ProductID</key>
		<integer>6095</integer>
		<key>VendorID</key>
		<integer>2821</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1485.hex</string>
		<key>Name</key>
		<string>20702 E032 Combo</string>
		<key>ProductID</key>
		<integer>57394</integer>
		<key>VendorID</key>
		<integer>1161</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1465.hex</string>
		<key>Name</key>
		<string>20702A1 Acer 43228+20702 combo card</string>
		<key>ProductID</key>
		<integer>57414</integer>
		<key>VendorID</key>
		<integer>1161</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1486.hex</string>
		<key>Name</key>
		<string>20702A1 Lenovo China 43227 WLAN + 20702A1 Combo card</string>
		<key>ProductID</key>
		<integer>57423</integer>
		<key>VendorID</key>
		<integer>1161</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1468.hex</string>
		<key>Name</key>
		<string>Asus 43228+20702A1 combo</string>
		<key>ProductID</key>
		<integer>6069</integer>
		<key>VendorID</key>
		<integer>2821</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1478.hex</string>
		<key>Name</key>
		<string>Azurewave 43228+20702</string>
		<key>ProductID</key>
		<integer>13202</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1489.hex</string>
		<key>Name</key>
		<string>LiteOn 43228+20702 combo</string>
		<key>ProductID</key>
		<integer>8196</integer>
		<key>VendorID</key>
		<integer>1226</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1466.hex</string>
		<key>Name</key>
		<string>Acer 43228 + 20702A1 combo</string>
		<key>ProductID</key>
		<integer>57433</integer>
		<key>VendorID</key>
		<integer>1161</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1487.hex</string>
		<key>Name</key>
		<string>LenovoChina 43228+20702 combo</string>
		<key>ProductID</key>
		<integer>57446</integer>
		<key>VendorID</key>
		<integer>4187</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1490.hex</string>
		<key>Name</key>
		<string>LiteOn 43228+20702 combo</string>
		<key>ProductID</key>
		<integer>8197</integer>
		<key>VendorID</key>
		<integer>1226</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1461.hex</string>
		<key>Name</key>
		<string>4352+20702A1 combo</string>
		<key>ProductID</key>
		<integer>8670</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1449.hex</string>
		<key>Name</key>
		<string>DW1550 4352+20702 combo</string>
		<key>ProductID</key>
		<integer>33091</integer>
		<key>VendorID</key>
		<integer>16700</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1479.hex</string>
		<key>Name</key>
		<string>4352HMB Azurewave Module</string>
		<key>ProductID</key>
		<integer>13316</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1492.hex</string>
		<key>Name</key>
		<string>LiteOn 4352 combo</string>
		<key>ProductID</key>
		<integer>8202</integer>
		<key>VendorID</key>
		<integer>1226</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1493.hex</string>
		<key>Name</key>
		<string>LiteOn 4352 combo</string>
		<key>ProductID</key>
		<integer>8203</integer>
		<key>VendorID</key>
		<integer>1226</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1494.hex</string>
		<key>Name</key>
		<string>LiteOn 4352 combo</string>
		<key>ProductID</key>
		<integer>8204</integer>
		<key>VendorID</key>
		<integer>1226</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1499.hex</string>
		<key>Name</key>
		<string>Liteon 43228 NGFF combo</string>
		<key>ProductID</key>
		<integer>8206</integer>
		<key>VendorID</key>
		<integer>1226</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1521.hex</string>
		<key>Name</key>
		<string>Acer_LiteOn BCM20702A1_4352</string>
		<key>ProductID</key>
		<integer>8207</integer>
		<key>VendorID</key>
		<integer>1226</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1463.hex</string>
		<key>Name</key>
		<string>BRCM Generic 4352z RAMUSB</string>
		<key>ProductID</key>
		<integer>8701</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1450.hex</string>
		<key>Name</key>
		<string>Dell Alienware 4352 20702A1 combo</string>
		<key>ProductID</key>
		<integer>13329</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1481.hex</string>
		<key>Name</key>
		<string>Azurewave 4360+20702 combo</string>
		<key>ProductID</key>
		<integer>13331</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1714.hex</string>
		<key>Name</key>
		<string>Azurewave 4360+20702 combo</string>
		<key>ProductID</key>
		<integer>6154</integer>
		<key>VendorID</key>
		<integer>2821</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1480.hex</string>
		<key>Name</key>
		<string>Azurewave 4352+20702 combo module</string>
		<key>ProductID</key>
		<integer>13336</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1462.hex</string>
		<key>Name</key>
		<string>BRCM Generic 43228z</string>
		<key>ProductID</key>
		<integer>8553</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1501.hex</string>
		<key>Name</key>
		<string>AZUREWAVE BCM20702A1_4352</string>
		<key>ProductID</key>
		<integer>13365</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1502.hex</string>
		<key>Name</key>
		<string>AZUREWAVE BCM20702A1_4352</string>
		<key>ProductID</key>
		<integer>13398</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1532.hex</string>
		<key>Name</key>
		<string>Acer 43228 NGFF combo module</string>
		<key>ProductID</key>
		<integer>57479</integer>
		<key>VendorID</key>
		<integer>1161</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1443.1572.hex</string>
		<key>Name</key>
		<string>Dell DW1560 4352+20702 M.2</string>
		<key>ProductID</key>
		<integer>8559</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1502.1770.hex</string>
		<key>Name</key>
		<string>20702A1 non-UHE HP SoftSailing</string>
		<key>ProductID</key>
		<integer>8673</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1502.1764.hex</string>
		<key>Name</key>
		<string>20702A1 dongles</string>
		<key>ProductID</key>
		<integer>8680</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1502.1757.hex</string>
		<key>Name</key>
		<string>20702 non-UHE Lenovo Japan</string>
		<key>ProductID</key>
		<integer>8678</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1502.1758.hex</string>
		<key>Name</key>
		<string>20702 non-UHE Generic</string>
		<key>ProductID</key>
		<integer>57426</integer>
		<key>VendorID</key>
		<integer>1161</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1502.1759.hex</string>
		<key>Name</key>
		<string>20702A1 Toshiba standalone</string>
		<key>ProductID</key>
		<integer>542</integer>
		<key>VendorID</key>
		<integer>2352</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20702A1_001.002.014.1483.1651.hex</string>
		<key>Name</key>
		<string>Lenovo China 4352+20702 NGFF</string>
		<key>ProductID</key>
		<integer>57466</integer>
		<key>VendorID</key>
		<integer>1161</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4335C0_003.001.009.0066.0115.hex</string>
		<key>Name</key>
		<string>Lenovo China 43162 NGFF</string>
		<key>ProductID</key>
		<integer>57465</integer>
		<key>VendorID</key>
		<integer>1161</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4335C0_003.001.009.0066.0121.hex</string>
		<key>Name</key>
		<string>Lenovo 43162 NGFF combo module</string>
		<key>ProductID</key>
		<integer>8214</integer>
		<key>VendorID</key>
		<integer>1226</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4335C0_003.001.009.0066.0108.hex</string>
		<key>Name</key>
		<string>BRCM Generic 43162Z</string>
		<key>ProductID</key>
		<integer>8552</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4335C0_003.001.009.0066.0104.hex</string>
		<key>Name</key>
		<string>43162 combo NGFF</string>
		<key>ProductID</key>
		<integer>553</integer>
		<key>VendorID</key>
		<integer>2352</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4335C0_003.001.009.0066.0105.hex</string>
		<key>Name</key>
		<string>HP Blackbird 43162 NGFF</string>
		<key>ProductID</key>
		<integer>8558</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4350C5_003.006.007.0222.4689.hex</string>
		<key>Name</key>
		<string>Dell 4350C5</string>
		<key>ProductID</key>
		<integer>25618</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4350C5_003.006.007.0120.2118.hex</string>
		<key>Name</key>
		<string>Broadcom Generic 4350C5</string>
		<key>ProductID</key>
		<integer>25619</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4350C5_003.006.007.0145.2724.hex</string>
		<key>Name</key>
		<string>Lenovo 4350C5</string>
		<key>ProductID</key>
		<integer>25620</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20703A1_001.001.005.0214.0422.hex</string>
		<key>Name</key>
		<string>20703A1 RAM download - DW1830 43602</string>
		<key>ProductID</key>
		<integer>25616</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20703A1_001.001.005.0214.0481.hex</string>
		<key>Name</key>
		<string>20703A1 HTC runtime RAM dongle</string>
		<key>ProductID</key>
		<integer>774</integer>
		<key>VendorID</key>
		<integer>2996</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20703A1_001.001.005.0214.0414.hex</string>
		<key>Name</key>
		<string>20703A1 Lenovo 43602 NGFF combo</string>
		<key>ProductID</key>
		<integer>57505</integer>
		<key>VendorID</key>
		<integer>1161</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM20703A1_001.001.005.0214.0473.hex</string>
		<key>Name</key>
		<string>20703A1 RAM download</string>
		<key>ProductID</key>
		<integer>29792</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4371C2_001.003.015.0093.0118.hex</string>
		<key>Name</key>
		<string>AW CM217NF BCM4371C2</string>
		<key>ProductID</key>
		<integer>13572</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4371C2_001.003.015.0093.0117.hex</string>
		<key>Name</key>
		<string>AW ASUS CM217NF BCM4371C2</string>
		<key>ProductID</key>
		<integer>13576</integer>
		<key>VendorID</key>
		<integer>5075</integer>
	</dict>
	<dict>
		<key>FirmwareName</key>
		<string>BCM4371C2_001.003.015.0093.0116.hex</string>
		<key>Name</key>
		<string>HP Brook 2x2ac</string>
		<key>ProductID</key>
		<integer>25624</integer>
		<key>VendorID</key>
		<integer>2652</integer>
	</dict>
</array>
</plist>
