<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0x00010000</key>
	<string>MacBookPro8,1 MacBookPro8,2 MacBookPro8,3</string>
	<key>0x00020000</key>
	<string>MacBookPro8,3</string>
	<key>0x00030010</key>
	<string>Macmini5,1 Macmini5,3</string>
	<key>0x00030020</key>
	<string>Macmini5,1 Macmini5,3</string>
	<key>0x00030030</key>
	<string>Macmini5,2</string>
	<key>0x00040000</key>
	<string>MacBookAir4,1 MacBookAir4,2</string>
	<key>0x00050000</key>
	<string>iMac12,1 iMac12,2</string>
	<key>0x01660000</key>
	<string></string>
	<key>0x01660001</key>
	<string>MacBookPro10,2</string>
	<key>0x01660002</key>
	<string>MacBookPro10,1</string>
	<key>0x01660003</key>
	<string>MacBookPro9,2</string>
	<key>0x01660004</key>
	<string>MacBookPro9,1</string>
	<key>0x01660005</key>
	<string></string>
	<key>0x01660006</key>
	<string>iMac13,1</string>
	<key>0x01660007</key>
	<string>iMac13,2</string>
	<key>0x01660008</key>
	<string>MacBookAir5,1</string>
	<key>0x01660009</key>
	<string>MacBookAir5,2</string>
	<key>0x0166000A</key>
	<string>Macmini6,1</string>
	<key>0x0166000B</key>
	<string>Macmini6,2</string>
	<key>0x04060000</key>
	<string></string>
	<key>0x0C060000</key>
	<string></string>
	<key>0x04160000</key>
	<string></string>
	<key>0x0A160000</key>
	<string></string>
	<key>0x0C160000</key>
	<string></string>
	<key>0x04260000</key>
	<string></string>
	<key>0x0A260000</key>
	<string></string>
	<key>0x0C260000</key>
	<string></string>
	<key>0x0D260000</key>
	<string></string>
	<key>0x0D220003</key>
	<string>iMac14,1 iMac14,4</string>
	<key>0x04120004</key>
	<string></string>
	<key>0x0A260005</key>
	<string></string>
	<key>0x0A260006</key>
	<string>MacBookAir6,1 MacBookAir6,2 Macmini7,1</string>
	<key>0x0D260007</key>
	<string>MacBookPro11,2 MacBookPro11,3</string>
	<key>0x0A2E0008</key>
	<string>MacBookPro11,1</string>
	<key>0x0412000B</key>
	<string>iMac15,1</string>
	<key>0x16060000</key>
	<string></string>
	<key>0x160E0001</key>
	<string></string>
	<key>0x16160000</key>
	<string></string>
	<key>0x161E0000</key>
	<string></string>
	<key>0x16220000</key>
	<string></string>
	<key>0x16260000</key>
	<string></string>
	<key>0x162B0000</key>
	<string></string>
	<key>0x161E0001</key>
	<string>MacBook8,1</string>
	<key>0x16060002</key>
	<string></string>
	<key>0x16160002</key>
	<string></string>
	<key>0x16220002</key>
	<string></string>
	<key>0x16260002</key>
	<string></string>
	<key>0x162B0002</key>
	<string>MacBookPro12,1</string>
	<key>0x16120003</key>
	<string></string>
	<key>0x16260004</key>
	<string></string>
	<key>0x162B0004</key>
	<string></string>
	<key>0x16260005</key>
	<string></string>
	<key>0x16260006</key>
	<string>iMac16,1 MacBookAir7,1 MacBookAir7,2</string>
	<key>0x16220007</key>
	<string>iMac16,2</string>
	<key>0x16200008</key>
	<string></string>
	<key>0x162B0008</key>
	<string></string>
	<key>0x19120000</key>
	<string>iMac17,1</string>
	<key>0x19160000</key>
	<string></string>
	<key>0x19260000</key>
	<string></string>
	<key>0x19270000</key>
	<string></string>
	<key>0x191B0000</key>
	<string>MacBookPro13,3</string>
	<key>0x191E0000</key>
	<string></string>
	<key>0x193B0000</key>
	<string></string>
	<key>0x193B0005</key>
	<string>MacBookPro13,1</string>
	<key>0x19020001</key>
	<string></string>
	<key>0x19120001</key>
	<string></string>
	<key>0x19170001</key>
	<string></string>
	<key>0x19320001</key>
	<string></string>
	<key>0x19160002</key>
	<string></string>
	<key>0x19260002</key>
	<string>MacBookPro13,1</string>
	<key>0x191E0003</key>
	<string>MacBook9,1</string>
	<key>0x19260004</key>
	<string></string>
	<key>0x19270004</key>
	<string>MacBookPro13,2</string>
	<key>0x191B0006</key>
	<string></string>
	<key>0x19260007</key>
	<string></string>
	<key>0x59120000</key>
	<string>iMac18,1 iMac18,2 iMac18,3</string>
	<key>0x59160000</key>
	<string>MacBookPro14,2</string>
	<key>0x59260000</key>
	<string>MacBookPro14,1 iMac18,1</string>
	<key>0x59270000</key>
	<string>MacBookPro14,2</string>
	<key>0x591B0000</key>
	<string>MacBookPro14,3</string>
	<key>0x591E0000</key>
	<string>MacBook10,1</string>
	<key>0x59230000</key>
	<string></string>
	<key>0x591E0001</key>
	<string>MacBook10,1</string>
	<key>0x59180002</key>
	<string></string>
	<key>0x59260002</key>
	<string>MacBookPro14,1 iMac18,1</string>
	<key>0x59270004</key>
	<string>MacBookPro14,2</string>
	<key>0x59120003</key>
	<string>iMac18,2 iMac18,3</string>
	<key>0x591B0006</key>
	<string></string>
	<key>0x59260007</key>
	<string></string>
	<key>0x59270009</key>
	<string></string>
	<key>0x3E000000</key>
	<string></string>
	<key>0x3E910003</key>
	<string></string>
	<key>0x3E920000</key>
	<string></string>
	<key>0x3E920003</key>
	<string></string>
	<key>0x3E920009</key>
	<string></string>
	<key>0x3E9B0000</key>
	<string>MacBookPro15,1</string>
	<key>0x3E9B0006</key>
	<string></string>
	<key>0x3E9B0007</key>
	<string>Macmini8,1</string>
	<key>0x3E9B0009</key>
	<string></string>
	<key>0x3EA50000</key>
	<string></string>
	<key>0x3EA50004</key>
	<string>MacBookPro15,2</string>
	<key>0x3EA50009</key>
	<string></string>
	<key>0x87C00000</key>
	<string></string>
	<key>0x87C00005</key>
	<string>MacBookAir8,1</string>
</dict>
</plist>
