<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>80860C0C</key>
	<integer>2572</integer>
	<key>8086A170</key>
	<integer>40304</integer>
	<key>80869D70</key>
	<integer>41328</integer>
	<key>80869D71</key>
	<integer>41328</integer>
	<key>80869D74</key>
	<integer>41328</integer>
	<key>8086A171</key>
	<integer>41328</integer>
	<key>8086A2F0</key>
	<integer>41328</integer>
	<key>8086A348</key>
	<integer>41328</integer>
	<key>80869DC8</key>
	<integer>41328</integer>
</dict>
</plist>
