<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>80861E31</key>
	<string>7</string>
	<key>80869CB1</key>
	<string>8/9</string>
	<key>80868D31</key>
	<string>X99</string>
	<key>8086A12F</key>
	<string>100</string>
	<key>80869D2F</key>
	<string>100</string>
	<key>8086A2AF</key>
	<string>200</string>
	<key>8086A36D</key>
	<string>300</string>
	<key>80869DED</key>
	<string>300</string>
</dict>
</plist>
