<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1E318086</key>
	<string>7</string>
	<key>9CB18086</key>
	<string>8/9</string>
	<key>8D318086</key>
	<string>X99</string>
	<key>A12F8086</key>
	<string>100</string>
	<key>9D2F8086</key>
	<string>100</string>
	<key>A2AF8086</key>
	<string>200</string>
	<key>A36D8086</key>
	<string>300</string>
	<key>9DED8086</key>
	<string>300</string>
</dict>
</plist>
