<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BundleID</key>
		<string>Sinetek-rtsx</string>
		<key>Description</key>
		<string>An unofficial macOS kernel extension for Realtek PCIe/USB-based SD card readers.</string>
		<key>Name</key>
		<string>Sinetek-rtsx</string>
		<key>ProjectUrl</key>
		<string>https://github.com/cholonam/Sinetek-rtsx</string>
		<key>Type</key>
		<string>kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Lilu plugin providing Sidecar and other functions</string>
		<key>Name</key>
		<string>FeatureUnlock</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/FeatureUnlock</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Another problem for OS X running on non-Apple hardware (virtual or otherwise) is the AppleIntelCPUPowerManagement kernel extension which tends to either panic the machine or spew endless debug messages to the console regarding the HPET and its relationship to the CPU</string>
		<key>Name</key>
		<string>NullCPUPowerManagement</string>
		<key>ProjectUrl</key>
		<string>https://github.com/corpnewt/NullCPUPowerManagement</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Protected video playback support and hardware video acceleration on various hardware</string>
		<key>Name</key>
		<string>Shiki</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/Shiki</string>
		<key>Superseder</key>
		<string>WhateverGreen</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>A macOS driver for Realtek RTL8125 2.5GBit Ethernet Controllers</string>
		<key>Name</key>
		<string>LucyRTL8125Ethernet</string>
		<key>ProjectUrl</key>
		<string>https://github.com/Mieze/LucyRTL8125Ethernet</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Driver for emulation SMC device with hardware sensors support</string>
		<key>Name</key>
		<string>FakeSMC3_with_plugins</string>
		<key>ProjectUrl</key>
		<string>https://github.com/CloverHackyColor/FakeSMC3_with_plugins</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Patching SmallTree to support I211-AT controllers</string>
		<key>Name</key>
		<string>SmallTree-I211-AT-patch</string>
		<key>ProjectUrl</key>
		<string>https://github.com/khronokernel/SmallTree-I211-AT-patch</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Lilu Kernel extension for blocking unwanted processes causing compatibility issues on different hardware and unlocking the support for certain features restricted to other hardware.</string>
		<key>Name</key>
		<string>RestrictEvents</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/RestrictEvents</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Lilu plugin for disabling the "The disk you inserted was not readable by this computer" message at boot on 10.9 or later; useful if you have other disks with filesystems unknown to macOS</string>
		<key>Name</key>
		<string>DiskArbitrationFixup</string>
		<key>ProjectUrl</key>
		<string>https://github.com/Goldfish64/DiskArbitrationFixup</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>An open-source kernel extension providing a way to emulate some offsets in CMOS (RTC) memory; it can help you to avoid some conflicts between osx AppleRTC and firmware/BIOS of your PC</string>
		<key>Name</key>
		<string>RTCMemoryFixup</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/RTCMemoryFixup</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>An open-source kernel extension bringing a platform for arbitrary kext, library and program patching throughout the system for macOS</string>
		<key>Name</key>
		<string>Lilu</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/Lilu</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Advanced Apple SMC emulator in the kernel; requires Lilu for full functionality</string>
		<key>Name</key>
		<string>VirtualSMC</string>
		<key>PreBuildBash</key>
		<string>$(OUTPUT_PATH)/VirtualSmcPkg/macbuild.tool</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/VirtualSMC</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Lilu plugin providing patches to select GPUs on macOS; requires Lilu 1.2.5 or newer</string>
		<key>Name</key>
		<string>WhateverGreen</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/WhateverGreen</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>An open-source kernel extension enabling native macOS HD audio for non-officially supported codecs without any file-system modifications</string>
		<key>Name</key>
		<string>AppleALC</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/AppleALC</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>An open-source kernel extension providing patches for IOBluetoothFamily</string>
		<key>Name</key>
		<string>BT4LEContinuityFixup</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/BT4LEContinuityFixup</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Lilu plugin for disabling Touch ID support; recommended to use only with Apple laptop SMBIOS</string>
		<key>Name</key>
		<string>NoTouchID</string>
		<key>ProjectUrl</key>
		<string>https://github.com/al3xtjames/NoTouchID</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>A Lilu plugin for dynamic power management data injection</string>
		<key>Name</key>
		<string>CPUFriend</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/CPUFriend</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>A Lilu plugin that unlocks the Night Shift function for all Macs</string>
		<key>Name</key>
		<string>NightShiftUnlocker</string>
		<key>ProjectUrl</key>
		<string>https://github.com/0xFireWolf/NightShiftUnlocker</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>An open-source kernel extension providing patches for unsupported Atheros cards</string>
		<key>Name</key>
		<string>ATH9KFixup</string>
		<key>ProjectUrl</key>
		<string>https://github.com/RehabMan/ATH9KFixup</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Lilu Kernel extension for enabling Sidecar support on the unsupported SMBIOS</string>
		<key>Name</key>
		<string>SidecarFixup</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/SidecarFixup</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>An open-source kernel extension providing a sync between RTC variables and NVRAM</string>
		<key>Name</key>
		<string>HibernationFixup</string>
		<key>ProjectUrl</key>
		<string>https://github.com/lvs1974/HibernationFixup</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>An open-source kernel extension providing a set of patches required for non-native Airport Broadcom Wi-Fi cards</string>
		<key>Name</key>
		<string>AirportBrcmFixup</string>
		<key>ProjectUrl</key>
		<string>https://github.com/lvs1974/AirportBrcmFixup</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>A Lilu plugin that disables the hardware JPEG decoding feature of the AppleVPA framework that breaks Preview and Quicklook on some systems</string>
		<key>Name</key>
		<string>NoVPAJpeg</string>
		<key>ProjectUrl</key>
		<string>https://github.com/vulgo/NoVPAJpeg</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Lilu plugin for showing the memory tab on MacBookAir and MacBookPro10,x platforms; the tab is normally hidden as these models have soldered memory</string>
		<key>Name</key>
		<string>SystemProfilerMemoryFixup</string>
		<key>ProjectUrl</key>
		<string>https://github.com/Goldfish64/SystemProfilerMemoryFixup</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>This kext attempts to inject USB ports for each controller and for hubs as well; could be complemented with a custom SSDT-UIAC.aml</string>
		<key>Name</key>
		<string>USBInjectAll</string>
		<key>ProjectUrl</key>
		<string>https://github.com/Sniki/OS-X-USB-Inject-All</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Implements an Advanced Configuration and Power Interface (ACPI) based battery manager kernel extension (kext/driver) for non-Apple laptops running OS X</string>
		<key>Name</key>
		<string>ACPIBatteryManager</string>
		<key>ProjectUrl</key>
		<string>https://github.com/RehabMan/OS-X-ACPI-Battery-Driver</string>
		<key>Type</key>
		<string>RehabMan</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Allows reading Embedded Controller fields over 1 byte long, vastly reducing the amount of ACPI modification needed (if any) for working battery status</string>
		<key>Name</key>
		<string>ECEnabler</string>
		<key>ProjectUrl</key>
		<string>https://github.com/1Revenger1/ECEnabler</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>A Lilu plugin that removes whitelist for Wi-Fi under macOS</string>
		<key>Name</key>
		<string>BrcmWLFixup</string>
		<key>ProjectUrl</key>
		<string>https://github.com/PMheart/BrcmWLFixup</string>
		<key>Superseder</key>
		<string>AirportBrcmFixup</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Lilu plugin for enabling support for backlight using RehabMan's patches</string>
		<key>Name</key>
		<string>AppleBacklightFixup</string>
		<key>ProjectUrl</key>
		<string>https://github.com/RehabMan/AppleBacklightFixup</string>
		<key>Superseder</key>
		<string>WhateverGreen</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>A VirtualSMC plugin that provides native support for ALS, keyboard backlight and Fn keys for Asus laptops on macOS</string>
		<key>Name</key>
		<string>AsusSMC</string>
		<key>ProjectUrl</key>
		<string>https://github.com/hieplpvip/AsusSMC</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>A VirtualSMC plugin, Allow syncing SMC keys like sensors reading and battery conservation mode for Lenovo laptops on macOS</string>
		<key>Name</key>
		<string>YogaSMC</string>
		<key>ProjectUrl</key>
		<string>https://github.com/zhen-zen/YogaSMC</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Qualcomm Atheros Killer E2200 driver for OS X</string>
		<key>Name</key>
		<string>AtherosE2200Ethernet</string>
		<key>ProjectUrl</key>
		<string>https://github.com/Mieze/AtherosE2200Ethernet</string>
		<key>Type</key>
		<string>Driver</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Lilu plugin for Haswell HD4600 mobile Intel GPUs</string>
		<key>Name</key>
		<string>AzulPatcher4600</string>
		<key>ProjectUrl</key>
		<string>https://github.com/coderobe/AzulPatcher4600</string>
		<key>Superseder</key>
		<string>WhateverGreen</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>BundleID</key>
		<string>BrcmFirmwareStore</string>
		<key>Description</key>
		<string>Broadcom wireless card PatchRAM driver for macOS</string>
		<key>Name</key>
		<string>BrcmPatchRAM</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/BrcmPatchRAM</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Used for updating EAPD (External Amplifier) state on HDA (High Definition Audio) codecs that use given amp on Speaker or Headphone nodes (both, or even extra ones in some cases)</string>
		<key>Name</key>
		<string>CodecCommander</string>
		<key>ProjectUrl</key>
		<string>https://github.com/Sniki/EAPD-Codec-Commander</string>
		<key>Superseder</key>
		<string>AppleALC</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Enable 4K resolution or greater, for all graphics under macOS</string>
		<key>Name</key>
		<string>CoreDisplayFixup</string>
		<key>ProjectUrl</key>
		<string>https://github.com/PMheart/CoreDisplayFixup</string>
		<key>Superseder</key>
		<string>WhateverGreen</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>This kext (actually Lilu friend) provides you the ability to fix the lid wake issue after resuming from sleep on macOS</string>
		<key>Name</key>
		<string>EnableLidWake</string>
		<key>ProjectUrl</key>
		<string>https://github.com/syscl/EnableLidWake</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>The purpose of this kext is to attach to any IOPCIDevice so it can provide alternate PCI ID when another driver attached to the same device requests them</string>
		<key>Name</key>
		<string>FakePCIID</string>
		<key>ProjectUrl</key>
		<string>https://github.com/RehabMan/OS-X-Fake-PCI-ID</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>HWSensors is a software bundle that includes drivers and applications that allow you to access available information from hardware sensors</string>
		<key>Name</key>
		<string>FakeSMC</string>
		<key>ProjectFileUrl</key>
		<string>https://github.com/RehabMan/OS-X-FakeSMC-kozlek/raw/master/Versioning%20And%20Distribution.xcodeproj</string>
		<key>ProjectUrl</key>
		<string>https://github.com/RehabMan/OS-X-FakeSMC-kozlek</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Fork of Zenith432's GenericUSBXHCI USB 3.0 driver for OS X</string>
		<key>Name</key>
		<string>GenericUSBXHCI</string>
		<key>ProjectUrl</key>
		<string>https://github.com/RehabMan/OS-X-Generic-USB3</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>A common problem with Broadwell/Skylake/KabyLake is the relatively small DVMT-prealloc setting by PC OEMs</string>
		<key>Name</key>
		<string>IntelGraphicsDVMTFixup</string>
		<key>ProjectUrl</key>
		<string>https://github.com/BarbaraPalvin/IntelGraphicsDVMTFixup</string>
		<key>Superseder</key>
		<string>WhateverGreen</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>An open-source kernel extension providing patches to select Intel GPUs</string>
		<key>Name</key>
		<string>IntelGraphicsFixup</string>
		<key>ProjectUrl</key>
		<string>https://github.com/lvs1974/IntelGraphicsFixup</string>
		<key>Superseder</key>
		<string>WhateverGreen</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>An Intel E1000 network driver based on Linux code</string>
		<key>DownloadUrl</key>
		<string>https://sourceforge.net/projects/osx86drivers/files/latest/download</string>
		<key>Name</key>
		<string>AppleIntelE1000</string>
		<key>ProjectUrl</key>
		<string>https://sourceforge.net/p/osx86drivers</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>BundleID</key>
		<string>IntelMausi</string>
		<key>Description</key>
		<string>A macOS driver for Intel on-board LAN adapters (by acidanthera)</string>
		<key>Name</key>
		<string>IntelMausiEthernet</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/IntelMausi</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>BundleID</key>
		<string>IntelMausiEthernet</string>
		<key>Description</key>
		<string>A macOS driver for Intel on-board LAN adapters (by mieze)</string>
		<key>Name</key>
		<string>IntelMausiEthernet</string>
		<key>ProjectUrl</key>
		<string>https://github.com/mieze/IntelMausiEthernet</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>A Lilu helper for those who prefer to leave everything inside /Library/Extensions and /System/Library/Extensions</string>
		<key>Name</key>
		<string>LiluFriend</string>
		<key>ProjectUrl</key>
		<string>https://github.com/PMheart/LiluFriend</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>This a utility utilizes DDC/CI to control monitor brightness with the F1 and F2 keys</string>
		<key>Name</key>
		<string>NativeDisplayBrightness</string>
		<key>ProjectUrl</key>
		<string>https://github.com/Bensge/NativeDisplayBrightness</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Enable Mac App Store access even if you don't have a built-in Ethernet (LAN) port with supporting drivers</string>
		<key>Name</key>
		<string>NullEthernet</string>
		<key>ProjectUrl</key>
		<string>https://github.com/RehabMan/OS-X-Null-Ethernet</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Fixes the NVIDIA web driver's blank window issue on macOS Sierra with a small and safe kernel patch</string>
		<key>Name</key>
		<string>NVWebDriverLibValFix</string>
		<key>ProjectUrl</key>
		<string>https://github.com/mologie/NVWebDriverLibValFix</string>
		<key>Superseder</key>
		<string>WhateverGreen</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>An open-source kernel extension providing patches for NVidia GPUs</string>
		<key>Name</key>
		<string>NvidiaGraphicsFixup</string>
		<key>ProjectUrl</key>
		<string>https://github.com/lvs1974/NvidiaGraphicsFixup</string>
		<key>Superseder</key>
		<string>WhateverGreen</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>An open-source driver for the Realtek RTL8111/8168 family of network controllers</string>
		<key>Name</key>
		<string>RealtekRTL8111</string>
		<key>ProjectFileUrl</key>
		<string>https://github.com/Mieze/RTL8111_driver_for_OS_X/raw/master/RealtekRTL8111.xcodeproj</string>
		<key>ProjectUrl</key>
		<string>https://github.com/Mieze/RTL8111_driver_for_OS_X</string>
		<key>Scheme</key>
		<string>RealtekRTL8111-V2</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>VoodooHDA is an open-source audio driver for devices compliant with the Intel High Definition Audio specification</string>
		<key>DownloadUrl</key>
		<string>https://sourceforge.net/projects/voodoohda/files/latest/download</string>
		<key>Name</key>
		<string>VoodooHDA</string>
		<key>ProjectFileUrl</key>
		<string>https://sourceforge.net/p/voodoohda/code/HEAD/tree/branches/zdev/VoodooHDA.xcodeproj?format=raw</string>
		<key>ProjectUrl</key>
		<string>https://sourceforge.net/p/voodoohda</string>
		<key>Type</key>
		<string>Driver</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>VoodooI2C is a project consisting of macOS kernel extensions that add support for I2C bus devices</string>
		<key>Name</key>
		<string>VoodooI2C</string>
		<key>ProjectUrl</key>
		<string>https://github.com/alexandred/VoodooI2C</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>AlpsHID</string>
		<key>Description</key>
		<string>VoodooI2C HID plugin for add support ALPS touchpad</string>
		<key>ProjectUrl</key>
		<string>https://github.com/blankmac/AlpsHID</string>
		<key>Type</key>
		<string>VoodooI2C</string>
	</dict>
	<dict>
		<key>BundleID</key>
		<string>PS2Controller</string>
		<key>Description</key>
		<string>Contains updated Voodoo PS/2 Controller, improved Keyboard &amp; Synaptics TouchPad support</string>
		<key>Name</key>
		<string>VoodooPS2Controller</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/VoodooPS2</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>A kernel extension which will synchronize the TSC on any Intel CPUs</string>
		<key>Name</key>
		<string>VoodooTSCSync</string>
		<key>ProjectUrl</key>
		<string>https://github.com/RehabMan/VoodooTSCSync</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Combining functionality of VoodooTSCSync and disabling xcpm_urgency if TSC is not in sync. It should solve some kernel panics after wake</string>
		<key>Name</key>
		<string>CpuTscSync</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/CpuTscSync</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>An open-source trackpad aggregator kernel extension providing Magic Trackpad 2 software emulation for arbitrary input sources like VoodooPS2</string>
		<key>Name</key>
		<string>VoodooInput</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/VoodooInput</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>A port for macOS of Synaptic's RMI code from Linux. RMI4 is used for touchscreens, touchpads and other sensors</string>
		<key>Name</key>
		<string>VoodooRMI</string>
		<key>ProjectUrl</key>
		<string>https://github.com/VoodooSMBus/VoodooRMI</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>VoodooSMBus provides a kernel extension (driver) for macOS that adds support for the SMBus capabilities of Intel I/O Controller Hubs (ICH), also called i801 SMBus</string>
		<key>Name</key>
		<string>VoodooSMBus</string>
		<key>ProjectUrl</key>
		<string>https://github.com/VoodooSMBus/VoodooSMBus</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>NVMeFix applies a set of patches to the Apple NVMe storage driver IONVMeFamily; useful when using non-Apple NVMe drives</string>
		<key>Name</key>
		<string>NVMeFix</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/NVMeFix</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>Lilu kernel extension for installing Rosetta Cryptex (OS.dmg) in macOS Ventura; mainly applicable for systems lacking the AVX2.0 CPU instruction.</string>
		<key>Name</key>
		<string>CryptexFixup</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/CryptexFixup</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>macOS kernel extension for devices complying with the Secure Digital Host Controller (SDHC) specification.</string>
		<key>Name</key>
		<string>EmeraldSDHC</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/EmeraldSDHC</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>A driver that loads the Intel BTLE driver firmware on supported devices</string>
		<key>Name</key>
		<string>IntelBluetoothFirmware</string>
		<key>ProjectUrl</key>
		<string>https://github.com/OpenIntelWireless/IntelBluetoothFirmware</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>Description</key>
		<string>A first effort to create an Intel wireless adapter on MacOS with code as a rewrite from Linux driver; it is now bandoned in favour of "itlmw" by the same author</string>
		<key>Name</key>
		<string>AppleIntelWifiAdapter</string>
		<key>ProjectUrl</key>
		<string>https://github.com/zxystd/AppleIntelWifiAdapter</string>
		<key>Superseder</key>
		<string>itlwm</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>BundleID</key>
		<string>BrightnessKeys</string>
		<key>Description</key>
		<string>A driver that loads the Brightness Keys</string>
		<key>Name</key>
		<string>BrightnessKeys</string>
		<key>ProjectUrl</key>
		<string>https://github.com/acidanthera/BrightnessKeys</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
	<dict>
		<key>BundleID</key>
		<string>AirportItlwm</string>
		<key>Description</key>
		<string>An OpenBSD-based macOS Intel wireless card driver for supported devices that behaves like an integrated AirPort card</string>
		<key>Name</key>
		<string>itlwm</string>
		<key>ProjectUrl</key>
		<string>https://github.com/OpenIntelWireless/itlwm</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>BundleID</key>
		<string>itlwm</string>
		<key>Description</key>
		<string>An OpenBSD-based macOS Intel wireless card driver for supported devices that behaves as an Ethernet card; must be accompanied by HeliPort.app to control it</string>
		<key>Name</key>
		<string>itlwm</string>
		<key>ProjectUrl</key>
		<string>https://github.com/OpenIntelWireless/itlwm</string>
		<key>Type</key>
		<string>Kext</string>
	</dict>
	<dict>
		<key>BundleID</key>
		<string>RTSX</string>
		<key>Description</key>
		<string>An unofficial macOS kernel extension for Realtek PCIe/USB-based SD card readers.</string>
		<key>Name</key>
		<string>RealtekCardReader</string>
		<key>ProjectUrl</key>
		<string>https://github.com/0xFireWolf/RealtekCardReader</string>
		<key>Type</key>
		<string>kext</string>
	</dict>
	<dict>
		<key>BundleID</key>
		<string>RTSF</string>
		<key>Description</key>
		<string>A Lilu plugin that makes System Information recognize your builtin USB card reader as a native one.</string>
		<key>Name</key>
		<string>RealtekCardReaderFriend</string>
		<key>ProjectUrl</key>
		<string>https://github.com/0xFireWolf/RealtekCardReaderFriend</string>
		<key>Type</key>
		<string>Lilu</string>
	</dict>
</array>
</plist>
