<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>AppleAHCI</string>
	<key>BuildVersion</key>
	<string>1007</string>
	<key>CFBundleShortVersionString</key>
	<string>399.50.2</string>
	<key>CFBundleVersion</key>
	<string>399.50.2</string>
	<key>ProjectName</key>
	<string>AppleAHCI</string>
	<key>SourceVersion</key>
	<string>329050002000000</string>
</dict>
</plist>
