<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Device</key>
		<integer>3599</integer>
		<key>Name</key>
		<string>NVIDIA HDMI for GK208 in 10.13.4+</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>TlZEQQ==</data>
				<key>MinKernel</key>
				<integer>17</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>3hAPDg==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>NVIDIA</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>4016</integer>
		<key>Name</key>
		<string>NVIDIA HDMI for GM200 in 10.13.4 - 10.13.6</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>TlZEQQ==</data>
				<key>MaxKernel</key>
				<integer>17</integer>
				<key>MinKernel</key>
				<integer>17</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>3hCwDw==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>NVIDIA</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>4024</integer>
		<key>Name</key>
		<string>NVIDIA HDMI for GP108 in 10.13.4 - 10.13.6</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>TlZEQQ==</data>
				<key>MaxKernel</key>
				<integer>17</integer>
				<key>MinKernel</key>
				<integer>17</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>3hC4Dw==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>NVIDIA</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>4025</integer>
		<key>Name</key>
		<string>NVIDIA HDMI for GP107 in 10.13.4 - 10.13.6</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>TlZEQQ==</data>
				<key>MaxKernel</key>
				<integer>17</integer>
				<key>MinKernel</key>
				<integer>17</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>3hC5Dw==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>NVIDIA</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>4026</integer>
		<key>Name</key>
		<string>NVIDIA HDMI for GM206 in 10.13.4 - 10.13.6</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>TlZEQQ==</data>
				<key>MaxKernel</key>
				<integer>17</integer>
				<key>MinKernel</key>
				<integer>17</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>3hC6Dw==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>NVIDIA</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>4027</integer>
		<key>Name</key>
		<string>NVIDIA HDMI for GM204 in 10.13.4 - 10.13.6</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>TlZEQQ==</data>
				<key>MaxKernel</key>
				<integer>17</integer>
				<key>MinKernel</key>
				<integer>17</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>3hC7Dw==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>NVIDIA</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>4028</integer>
		<key>Name</key>
		<string>NVIDIA HDMI for GM107 in 10.13.4 - 10.13.6</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>3hALDg==</data>
				<key>MaxKernel</key>
				<integer>17</integer>
				<key>MinKernel</key>
				<integer>17</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>3hC8Dw==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>NVIDIA</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>4335</integer>
		<key>Name</key>
		<string>NVIDIA HDMI for GP102 in 10.13.4 - 10.13.6</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>TlZEQQ==</data>
				<key>MaxKernel</key>
				<integer>17</integer>
				<key>MinKernel</key>
				<integer>17</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>3hDvEA==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>NVIDIA</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>4336</integer>
		<key>Name</key>
		<string>NVIDIA HDMI for GP104 in 10.13.4 - 10.13.6</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>TlZEQQ==</data>
				<key>MaxKernel</key>
				<integer>17</integer>
				<key>MinKernel</key>
				<integer>17</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>3hDwEA==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>NVIDIA</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>4337</integer>
		<key>Name</key>
		<string>NVIDIA HDMI for GP106 in 10.13.4 - 10.13.6</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>TlZEQQ==</data>
				<key>MaxKernel</key>
				<integer>17</integer>
				<key>MinKernel</key>
				<integer>17</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>3hDxEA==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>NVIDIA</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>43720</integer>
		<key>Name</key>
		<string>AMD R9 290X HDMI</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>AhDYqg==</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>AhDIqg==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>2KoAAA==</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>yKoAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Lowers the if condition to let the patch above work (older os)</string>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>16oAAA==</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>x6oAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Lowers the if condition to let the patch above work (10.13.4 17E182a+)</string>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>eFX//w==</data>
				<key>MinKernel</key>
				<integer>16</integer>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>uFX//w==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>AMD</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>43752</integer>
		<key>Name</key>
		<string>AMD R9 Fury HDMI Audio</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>AhDYqg==</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>AhDoqg==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>2KoAAA==</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>6KoAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Lowers the if condition to let the patch above work (older os)</string>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>16oAAA==</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>56oAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Lowers the if condition to let the patch above work (10.13.4 17E182a+)</string>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>eFX//w==</data>
				<key>MinKernel</key>
				<integer>16</integer>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>uFX//w==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>AMD</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>43784</integer>
		<key>Name</key>
		<string>AMD Vega-M HDMI</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>AhDYqg==</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>AhAIqw==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>2KoAAA==</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>CKsAAA==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>AMD</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>5207</integer>
		<key>Name</key>
		<string>AMD Zen Audio Controller 0x1457</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoA+Og==</data>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>IhBXFA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>PQIQAAB0</data>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PSIQAAB+</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>SYsHTIn//5AYCgAA</data>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>DCBmNSIQdAQxwP/I</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>AMDZEN</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>5255</integer>
		<key>Name</key>
		<string>AMD Zen Audio Controller 0x1487</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoA+Og==</data>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>IhCHFA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>PQIQAAB0</data>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PSIQAAB+</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>SYsHTIn//5AYCgAA</data>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>DCBmNSIQdAQxwP/I</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>AMDZEN</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>5603</integer>
		<key>Name</key>
		<string>AMD Zen Audio Controller 0x15E3</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoA+Og==</data>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>IhDjFQ==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>PQIQAAB0</data>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PSIQAAB+</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>SYsHTIn//5AYCgAA</data>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>DCBmNSIQdAQxwP/I</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>AMDZEN</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>3084</integer>
		<key>Name</key>
		<string>HD4600 HDMI Audio</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>DAoAAA==</data>
				<key>MaxKernel</key>
				<integer>13</integer>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>DAwAAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>2</integer>
				<key>Find</key>
				<data>CwwAAA==</data>
				<key>MaxKernel</key>
				<integer>13</integer>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>DAwAAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>3</integer>
				<key>Find</key>
				<data>PQwKAAA=</data>
				<key>MaxKernel</key>
				<integer>14</integer>
				<key>MinKernel</key>
				<integer>14</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PQwMAAA=</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>PQsMAAA=</data>
				<key>MaxKernel</key>
				<integer>14</integer>
				<key>MinKernel</key>
				<integer>14</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PQwMAAA=</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>5</integer>
				<key>Find</key>
				<data>PQwKAAA=</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>PQwMAAA=</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>3844</integer>
		<key>Name</key>
		<string>Atom Z36xxx/Z37xxx Audio Controller</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>DAwAAA==</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>BA8AAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoAMDA==</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoAEDw==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>36000</integer>
		<key>Name</key>
		<string>Z97 HDEF controller in 10.9</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>IIwAAA==</data>
				<key>MaxKernel</key>
				<integer>13</integer>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>oIwAAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoAgjA==</data>
				<key>MaxKernel</key>
				<integer>13</integer>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoCgjA==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>36128</integer>
		<key>Name</key>
		<string>X99 HDEF controller 0x8D20</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>oIwAAA==</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>II0AAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoCgjA==</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoAgjQ==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>IIwAAA==</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>II0AAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoAgjA==</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoAgjQ==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>36129</integer>
		<key>Name</key>
		<string>X99 HDEF controller 0x8D21</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>4</integer>
				<key>Find</key>
				<data>oIwAAA==</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>IY0AAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoCgjA==</data>
				<key>MinKernel</key>
				<integer>13</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoAhjQ==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>41328</integer>
		<key>Model</key>
		<string>Laptop</string>
		<key>Name</key>
		<string>100 Series (0xA170) Mobile PCH HD Audio</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Patches out AppleHDAController PCI ID check and replaces internal variable content with 9D70 to enable HDMI audio</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>DgAAvgIAAABIid8=</data>
				<key>MinKernel</key>
				<integer>15</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>DgAAuHCdAADrBpA=</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>40392</integer>
		<key>Name</key>
		<string>WhiskeyLake Mobile PCH HD Audio</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoBwnQ==</data>
				<key>MinKernel</key>
				<integer>16</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoDInQ==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>6</integer>
				<key>Find</key>
				<data>cJ0AAA==</data>
				<key>MinKernel</key>
				<integer>16</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>yJ0AAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>6</integer>
				<key>Find</key>
				<data>SKMAAA==</data>
				<key>MinKernel</key>
				<integer>16</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>yJ0AAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoBIow==</data>
				<key>MinKernel</key>
				<integer>16</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoDInQ==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>41329</integer>
		<key>Name</key>
		<string>200 Series Mobile PCH HD Audio</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>6</integer>
				<key>Find</key>
				<data>cKEAAA==</data>
				<key>MinKernel</key>
				<integer>16</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>caEAAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoBwoQ==</data>
				<key>MinKernel</key>
				<integer>16</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoBxoQ==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>41712</integer>
		<key>Name</key>
		<string>200 Series PCH HD Audio</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>6</integer>
				<key>Find</key>
				<data>cKEAAA==</data>
				<key>MinKernel</key>
				<integer>16</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>8KIAAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoBwoQ==</data>
				<key>MinKernel</key>
				<integer>16</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoDwog==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>41800</integer>
		<key>Name</key>
		<string>300 Series PCH HD Audio in 10.12 - 10.13</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>6</integer>
				<key>Find</key>
				<data>cKEAAA==</data>
				<key>MaxKernel</key>
				<integer>17</integer>
				<key>MinKernel</key>
				<integer>16</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>SKMAAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoBwoQ==</data>
				<key>MaxKernel</key>
				<integer>17</integer>
				<key>MinKernel</key>
				<integer>16</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoBIow==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>41456</integer>
		<key>Name</key>
		<string>C620 Series PCH HD Audio</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>6</integer>
				<key>Find</key>
				<data>cKEAAA==</data>
				<key>MinKernel</key>
				<integer>19</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>8KEAAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoBwoQ==</data>
				<key>MinKernel</key>
				<integer>19</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoDwoQ==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>41968</integer>
		<key>Name</key>
		<string>400 Series(0xA3F0) PCH HD Audio</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>6</integer>
				<key>Find</key>
				<data>cKEAAA==</data>
				<key>MinKernel</key>
				<integer>19</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>8KMAAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoBwoQ==</data>
				<key>MinKernel</key>
				<integer>19</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoDwow==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>1736</integer>
		<key>Name</key>
		<string>400 Series PCH HD Audio</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>DgAAvgIAAABIid8=</data>
				<key>MinKernel</key>
				<integer>19</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>DgAAuHCdAADrBpA=</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>712</integer>
		<key>Name</key>
		<string>400 Series PCH-LP HD Audio</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>DgAAvgIAAABIid8=</data>
				<key>MinKernel</key>
				<integer>19</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>DgAAuHCdAADrBpA=</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>13512</integer>
		<key>Name</key>
		<string>Icelake Smart Sound Technology Audio Controller</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>DgAAvgIAAABIid8=</data>
				<key>MinKernel</key>
				<integer>19</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>DgAAuHCdAADrBpA=</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>61640</integer>
		<key>Name</key>
		<string>500 Series(0xF0C8) PCH HD Audio</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>6</integer>
				<key>Find</key>
				<data>cKEAAA==</data>
				<key>MinKernel</key>
				<integer>19</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>yPAAAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoBwoQ==</data>
				<key>MinKernel</key>
				<integer>19</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoDI8A==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
	<dict>
		<key>Device</key>
		<integer>17352</integer>
		<key>Name</key>
		<string>500 Series(0x43C8) PCH HD Audio</string>
		<key>Patches</key>
		<array>
			<dict>
				<key>Count</key>
				<integer>6</integer>
				<key>Find</key>
				<data>cKEAAA==</data>
				<key>MinKernel</key>
				<integer>19</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>yEMAAA==</data>
			</dict>
			<dict>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>hoBwoQ==</data>
				<key>MinKernel</key>
				<integer>19</integer>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<data>hoDIQw==</data>
			</dict>
		</array>
		<key>Vendor</key>
		<string>Intel</string>
	</dict>
</array>
</plist>